<a href="https://colab.research.google.com/github/DushyantKesar-7/Python-Lab-511-a1r154/blob/main/PythonLab(511).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("square of {} is {}". format(45,45**3))

square of 45 is 91125

In [ ]:
60//60

1

In [ ]:
print("{} hours and {} min". format(155689//60,155689%60))

2594 hours and 49 min

In [ ]:
a = 155689

In [ ]:
print("{} days, {} hours and {} min". format(((155689//60)%24),(155689//60),(155689%60)))

2 days, 2594 hours and 49 min

In [ ]:
print("Days")
(155689//60)%24

Days

2

In [ ]:
b = 7325

In [ ]:
#days
(7325//60)//24

5

In [ ]:
#hours
(7325//60)%24

2

In [ ]:
#mins
(7325%60)

5

In [ ]:
print("{} days, {} hours and {} min" . format((7325//60)//24, (7325//60)%24, (7325%60)))

5 days, 2 hours and 5 min

In [ ]:
c = 1457986

In [ ]:
#days
(1457986//60//60)//24

16

In [ ]:
#hours
(1457986//60//60)%24

20

In [ ]:
#mins
(1457986//60)%60

59

In [ ]:
#secs
(1457986%60)

46

In [ ]:
1457986//60

24299

In [ ]:
print("{} days, {} hours, {} min and {} secs" . format((1457986//60//60)//24,(1457986//60//60)%24, (1457986//60)%60, (1457986%60)))

16 days, 20 hours, 59 min and 46 secs

In [ ]:
a=69
b=88

In [ ]:
print(a)
print(b)

69
88

In [ ]:
a

69

In [ ]:
b

88

In [ ]:
a != b

True

In [ ]:
a == b

False

In [ ]:
a < b

True

In [ ]:
a > b

False

In [ ]:
a <= b

True

In [ ]:
a >= b

False

# *Variables*

1.there is a logical length for variable name

2. name must be starts with _ or text

3. there is no spaces in the variable name

4.not allow to use reserved keywords

# *Comparison* *Operators*
1.> # greater than

2.< # less than

3.>= # more than equals to

4.<= # less than equals to

5.== # equals to

6.!= # not equals to

# *Data Types*

int # it will read only whole numbers

float # it will read both whole and decimal numbers

str # whatever we mention in '' , " ",""" """ called string

bool # true (1) and false(0)

In [ ]:
q = 77
type(q)

int

In [ ]:
w = 11.11
type(w)

float

In [ ]:
e = "Daru"
type(e)

str

In [ ]:
r = True
type(r)

bool

In [ ]:
t = "143"
type(t)

str

In [ ]:
y = 77.88
type(y)

float

# User Input

In [ ]:
q = int(input())
type(q)

24

int

# String

len(st)

st.upper()

st.lower()

st.capitalize()

st.title()

st.removeprefix()

st.removesuffix()

st.split()

In [ ]:
LOLU = "There are many Assholes in the world but I don't know any of them"

In [ ]:
q1 extrect "Assholes" from the above string
q2 extrect "know any of" from the above string
q3 extrect "world" from the above string
q4 extrect "are many people in the" from the above string

In [ ]:
LOLU.find("Assholes")

15

In [ ]:
LOLU.count("1")

14

In [ ]:
s = "a the b the c the d the"

In [ ]:
print("1st the is at : ", s.find("the"))
print("2nd the is at : ", s.find("the",3))
print("3rd the is at : ", s.find("the",9))
print("4th the is at : ", s.find("the",15))

1st the is at :  2
2nd the is at :  8
3rd the is at :  14
4th the is at :  20

In [ ]:
Q1 Converte Python@gmail.com into PYTHON@GMAIL.COM
Q2 Split all the words from the text
Q3

SyntaxError: invalid syntax (<ipython-input-33-c3d7473b223e>, line 1)

In [ ]:
w = "Python@gmail.com"

In [ ]:
w.find("Python@gmail.com")

0

In [ ]:
w[0:16].upper()

'PYTHON@GMAIL.COM'

In [ ]:
w[0:16].split()

['Python@gmail.com']

In [ ]:
w.replace("Python@gmail.com","PYTHON@GMAIL.COM")

'PYTHON@GMAIL.COM'

In [ ]:
u = "Q1 Converte Python@gmail.com into PYTHON@GMAIL.COM"

In [ ]:
p = "1234567890"

In [ ]:
p[::-1]

'0987654321'

In [ ]:
p[1::2]

'24680'

In [ ]:
p[1::-1]

'21'

# List

It is an ordered collection of elements

In [ ]:
w = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
w

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
w.append(88)

In [ ]:
w

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 88]

In [ ]:
q = [1,1.5,"string",True,[1,2,3,"new",False]]

In [ ]:
q

[1, 1.5, 'string', True, [1, 2, 3, 'new', False]]

In [ ]:
l1 =[11,11,66,77,88,69,143,342,33,10,2]

In [ ]:
# print the number of elements

len(l1)

11

In [ ]:
# Count the number of given elements

l1.count(11)

2

In [ ]:
# Add the given element in the end of the list
l1.append(3000)

In [ ]:
l1

[11, 11, 66, 77, 88, 69, 143, 342, 33, 10, 2, 3000, 3000]

In [ ]:
# By default it print and remove the last element from the list
l1.pop()

3000

In [ ]:
l1

[11, 11, 66, 77, 88, 69, 143, 342, 33, 10, 2, 3000]

In [ ]:
# It print and remove the last element from the list
l1.pop(11)

3000

In [ ]:
# It insert the given element on the given index
# variables.insert(index,element)

l1.insert(11,11)

In [ ]:
l1

[11, 11, 66, 77, 88, 69, 143, 342, 33, 10, 2, 11]

In [ ]:
# It add more than one element in the end of the list

l1.extend([66,69,88])

In [ ]:
l1

[11, 11, 66, 77, 88, 69, 143, 342, 33, 10, 2, 11, 66, 69, 88]

In [ ]:
# It removes the given element

l1.remove(69)

In [ ]:
l1

[11, 11, 66, 77, 88, 143, 342, 33, 10, 2, 11, 66, 69, 88]

In [ ]:
# It reverses the list

l1.reverse()

In [ ]:
l1

[88, 69, 66, 11, 2, 10, 33, 342, 143, 88, 77, 66, 11, 11]

In [ ]:
# It sort the list in ascending order

l1.sort()

In [ ]:
l1

[2, 10, 11, 11, 11, 33, 66, 66, 69, 77, 88, 88, 143, 342]

In [ ]:
# It sort the list in descending order

l1.sort(reverse=True)

In [ ]:
l1

[342, 143, 88, 88, 77, 69, 66, 66, 33, 11, 11, 11, 10, 2]

In [ ]:
# It prints the index value of the given element

l1.index(66)

6

In [ ]:
# It prints the index value of the given element

l1.index(66,7)

7

In [ ]:
# It remove all the elements from the list

l1.clear()

In [ ]:
# To make a copy of the list

l1.copy()
A = l1.copy()

In [ ]:
A

[342, 143, 88, 88, 77, 69, 66, 66, 33, 11, 11, 11, 10, 2]

In [ ]:
q

[1, 1.5, 'string', True, [1, 2, 3, 'new', False]]

In [ ]:
q[3] = 88

In [ ]:
q

[1, 1.5, 'string', 88, 88, [1, 2, 3, 'new', False], 3]

In [ ]:
q.insert(3,89)

In [ ]:
q

[1, 1.5, 'string', 89, 88, [1, 2, 3, 'new', False], 3]

In [ ]:
q.pop()

3

In [ ]:
q

[1, 1.5, 'string', 88, 88, [1, 2, 3, 'new', False]]

In [ ]:
q

In [ ]:
# variable[start:stop:step]

In [ ]:
q[-1]

[1, 2, 3, 'new', False]

In [ ]:
q[-1][3]

'new'

In [ ]:
q[-1][3][2]

'w'

In [ ]:
q[5][3] = 77

In [ ]:
q

[1, 1.5, 66, 88, 88, [1, 2, 3, 77, False]]

In [ ]:
q[2] = 66

In [ ]:
q

[1, 1.5, 66, 88, 88, [1, 2, 3, 77, False]]

In [ ]:
r =[4,5,7,[4,2,0,3,5,"Todey",4],478,"string"]

In [ ]:
r[3][-2].replace('e','a')

'Today'

In [ ]:
r[3][5] = r[3][5].replace('e','a')

In [ ]:
r

[4, 5, 7, [4, 2, 0, 3, 5, 'Today', 4], 478, 'string']

In [ ]:
e = (1,2,3,4,'string',5,5)

In [ ]:
e.count('string')

1

In [ ]:
e.index(5)

5

In [ ]:
type(e)

tuple

# SET

In [ ]:
s=set()

In [ ]:
type(s)

set

In [ ]:
s={4,5,6,3,2,8,9,11,7}
q={2,4,6,8,10}

In [ ]:
s

{2, 3, 4, 5, 6, 7, 8, 9, 11}

In [ ]:

q

{2, 4, 6, 8, 10}

In [ ]:
s.difference(q)

{3, 5, 7, 9, 11}

In [ ]:
s.intersection(q)

{2, 4, 6, 8}

In [ ]:
s.pop()

2

In [ ]:
s.symmetric_difference(q)

{2, 3, 5, 7, 9, 10, 11}

In [ ]:
q.union(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
q.update()

In [ ]:
q

{2, 4, 6, 8, 10}

In [ ]:
q.discard(s)

In [ ]:
q

{2, 4, 6, 8, 10}

In [ ]:
q1 = {1,2,3,4,5,6,7,500,600}
q2 = {11,22,33,44,4,5,6,9,500}

In [ ]:
# it will print the unique element of the lest set
q1.difference(q2)

{1, 2, 3, 7, 600}

In [ ]:
q2.difference(q1)

{9, 11, 22, 33, 44}

In [ ]:
q1.union() # add new set

# dist

it is a pair of keys and values

In [ ]:
s ={}

In [ ]:
type(s)

dict

In [ ]:
d = {"name" : ["a","b","c"],
     "age" :[20,22,28,30]}

In [ ]:
d

{'name': ['a', 'b', 'c'], 'age': [20, 22, 28, 30]}

In [ ]:
d1 = {"name" : ("a","b","c"),
     "age" :(20,22,28,30)}

In [ ]:
d ["name"][0] = "d"

In [ ]:
d

{'name': ['d', 'b', 'c'], 'age': [20, 22, 28, 30]}

In [ ]:
# to print the

In [ ]:
d["name"][0]

'd'

In [ ]:
d["name"].append("d")

In [ ]:
d["name"]

['d', 'b', 'c', 'd']

In [ ]:
d

{'name': ['d', 'b', 'c', 'd'], 'age': [20, 22, 28, 30]}

In [ ]:
w = {"Id" : ['2022a1r001','2022a1r002','2022a1r003','2022a1r004','2022a1r005','2022a1r006','2022a1r007'],
    "Location" : ["Domana","Muthi","Rehari","Chungi","Kacchi Chawni","Nagrota","Janipur"],
     "Job" : ["DS","Prof","HR","Director","Principal","CEO","Enterprenuere"]}

In [ ]:
w = ["Location"][1:3] = []

In [ ]:
r={"ID" :[1442,1442,1443,1444,1445],
   "JOB" :["HR","Manager","CA","CS"]}

In [ ]:
print(r.values())

dict_values([[1442, 1442, 1443, 1444, 1445], ['HR', 'Manager', 'CA', 'CS']])

In [ ]:
print(type(r["ID"]))

<class 'list'>

In [ ]:
r["ID"].append(1446)

In [ ]:
r

{'ID': [1442, 1442, 1443, 1444, 1445, 1446],
 'JOB': ['HR', 'Manager', 'CA', 'CS']}

In [ ]:
print(1,r)

1 {'ID': [1442, 1442, 1443, 1444, 1445, 1446], 'JOB': ['HR', 'Manager', 'CA', 'CS']}

In [ ]:
r["ID"].insert(0,1440)

In [ ]:
r

{'ID': [1440, 1442, 1442, 1443, 1444, 1445, 1446],
 'JOB': ['HR', 'Manager', 'CA', 'CS']}

In [ ]:
print(2,r)

2 {'ID': [1440, 1442, 1442, 1443, 1444, 1445, 1446], 'JOB': ['HR', 'Manager', 'CA', 'CS']}

In [ ]:
r["ID"][0]=1000
r

{'ID': [1000, 1442, 1442, 1443, 1444, 1445, 1446],
 'JOB': ['HR', 'Manager', 'CA', 'CS']}

In [ ]:
print(3,r)

3 {'ID': [1000, 1442, 1442, 1443, 1444, 1445, 1446], 'JOB': ['HR', 'Manager', 'CA', 'CS']}

In [ ]:
r["ID"].pop()
r

{'ID': [1000, 1442, 1442, 1443, 1444, 1445],
 'JOB': ['HR', 'Manager', 'CA', 'CS']}

In [ ]:
print(4,r)

4 {'ID': [1000, 1442, 1442, 1443, 1444, 1445], 'JOB': ['HR', 'Manager', 'CA', 'CS']}

In [ ]:
print(round(len(r["ID"])/2+.1))

3

In [ ]:
r["ID"].pop(3)

1443

In [ ]:
print(4,r)

4 {'ID': [1000, 1442, 1442, 1444, 1445], 'JOB': ['HR', 'Manager', 'CA', 'CS']}

# *Conditonal Statements*

### *SYNTAX*

if condition1:

    print("Statement 1")
    
  elif condition 2:

    print("Statement 2")

  elif condition 3:

    print("Statement 3")

  else :

    print("Last_Statement")

In [ ]:
# Sample Question

x=float(input("Enter the Number : "))
if x>0:
  print(x,"is positive")
elif x==0 :
  print(x, " is Zero")
else :
  print(x," is Negative")

Enter the Number : 20
20.0 is positive

In [ ]:
# Q2. Check if NUM is more than 20 or less than 20 or equals to 20
# Cond. 1
NUM=float(input("Enter the Number : "))
if NUM>20:
  print(NUM," is Greater than 20")
elif NUM==20 :
  print(NUM, " is Equals to 20")
else :
  print(NUM," is Smaller than 20")

Enter the Number : 77
77.0  is Greater than 20

In [ ]:
# Cond. 2

NUM=float(input("Enter the Number : "))
if NUM>20:
  print(NUM," is Greater than 20")
elif NUM==20 :
  print(NUM, " is Equals to 20")
else :
  print(NUM," is Smaller than 20")

Enter the Number : 20
20.0  is Equals to 20

In [ ]:
# Cond. 3

NUM=float(input("Enter the Number : "))
if NUM>20:
  print(NUM," is Greater than 20")
elif NUM==20 :
  print(NUM, " is Equals to 20")
else :
  print(NUM," is Smaller than 20")

Enter the Number : 11
11.0  is Smaller than 20

In [ ]:
# Q1. Check if NUM is even or Odd

# Cond. 1

NUM=float(input("Enter the Number : "))
if NUM%2==0:
  x = NUM**3
  print("{}is the cube of {} cause it is Even".format(x,NUM))

else :
  x = NUM**2
  print("{}is the Square of {} cause it is Odd".format(x,NUM))

Enter the Number : 66
287496.0is the cube of 66.0 cause it is Even

In [ ]:
# Cond. 2

NUM=float(input("Enter the Number : "))
if NUM%2==0:
  x = NUM**3
  print("{}is the cube of {} cause it is Even".format(x,NUM))

else :
  x = NUM**2
  print("{}is the Square of {} cause it is Odd".format(x,NUM))

Enter the Number : 69
4761.0is the Square of 69.0 cause it is Odd

In [ ]:
# if NUM is more tha 100 and odd calculate square
# if NUM is less tha 100 and Even calculate cube

# Cond. 1

NUM=float(input("Enter the Number : "))
if NUM>100 and NUM%2!=0:
  x = NUM**2
  print("{}is the Square of {}".format(x,NUM))

else :
  x = NUM**3
  print("{}is the Cube of {}".format(x,NUM))

Enter the Number : 143
20449.0is the Square of 143.0

In [ ]:
# Cond. 2

NUM=float(input("Enter the Number : "))
if NUM>100 and NUM%2!=0:
  x = NUM**2
  print("{}is the Square of {}".format(x,NUM))

else :
  x = NUM**3
  print("{}is the Cube of {}".format(x,NUM))

Enter the Number : 342
40001688.0is the Cube of 342.0

In [ ]:
# Cond. 3

NUM=float(input("Enter the Number : "))
if NUM>100 and NUM%2!=0:
  x = NUM**2
  print("{}is the Square of {}".format(x,NUM))

else :
  x = NUM**3
  print("{}is the Cube of {}".format(x,NUM))

Enter the Number : 88
681472.0is the Cube of 88.0

In [ ]:
# if NUM is more tha 100 and odd calculate square
# if NUM is more tha 100 and Even calculate square root
# if NUM is less tha 100 and odd calculate cube
# if NUM is less tha 100 and Even calculate cube root
# # else : print x is equals to 100

NUM=float(input("Enter the Number : "))
if NUM>100 and NUM%2!=0:
  x = NUM**2
  print("{}is the Square of {}".format(x,NUM))

elif NUM>100 and NUM%2==0:
  x = NUM**(1/2)
  print("{}is the Square root of {}".format(x,NUM))

elif NUM<100 and NUM%2!=0:
  x = NUM**3
  print("{}is the Cube of {}".format(x,NUM))

elif NUM<100 and NUM%2==0:
  x = NUM**(1/3)
  print("{}is the Cube root of {}".format(x,NUM))

else :
  print("x is equals to 100")

Enter the Number : 100
x is equals to 100

In [ ]:
# Check the datatype of NUM using comditional Statement

NUM=(input("Enter the Number : "))
if type(NUM)==int:
  print(NUM,"is an integer")

elif type(NUM)==float:
  print(NUM,"is an float")

elif type(NUM)==bool:
    print(NUM,"is an boolean")

elif type(NUM)==str:
    print(NUM,"is an string")

elif type(NUM)==complex :
  print(NUM,"is an Complex")

elif type(NUM)==list:
  print(NUM,"is an List")

elif type(NUM)==tuple:
  print(NUM,"is an Tuple")

elif type(NUM)==set:
  print(NUM,"is an Set")

elif type(NUM)==dict:
  print(NUM,"is an Dict")

elif type(NUM)== range:
  print(NUM,"is an Range")

else :
    print("Invalid Input")

Enter the Number : 11
11 is an string

In [ ]:
# Check if the string starts with S and ends with t

s = input("Enter the String : ")

if s[0] == "S" and  s[-1] == "t":
  print(s,"Starts with S & ends with t")

elif s[0] == "S":
  print(s,"Starts with S")

elif s[-1] == "t":
  print(s,"ends with t")

else :
  print(s,"does not ends with S")

Enter the String : Smart
Smart Starts with S & ends with t

In [ ]:
# Check if the string ends with t

s = input("Enter the String")

if s[-1] == "t":
  print(s,"ends with t")

else :
  print(s,"does not ends with t")

In [ ]:
# Check if the string starts with S

s = input("Enter the String : ")
if s[0] == "S":
  print(s,"Starts with S")
else :
  print(s,"does not ends with S")

In [ ]:
# Check if the string starts with A and ends with a
# Check if the string starts with A and ends with i
# Check if the string dose'nt starts with A and ends with a

s = input("Enter the String : ")

if s[0] == "A" and  s[-1] == "a":
  print(s,"Starts with A & ends with a")

elif s[0] == "A" and  s[-1] == "i":
  print(s,"Starts with A & ends with i")

  elif s[0] == "A":
  print(s,"Starts with A")

elif s[-1] == "a":
  print(s,"ends with a")

else :
  print(s,"does not starts and ends with A")

Enter the String : Anan
Anan does not starts and ends with A

In [ ]:
# Check if the 1st letter is in Uppercase and Lowercase
# Cond 1
s = input("Enter the String : ")
if s[0].isupper():
  print(s,"Starts with Uppercase")
elif s[0].islower():
  print(s,"Starts with Lowercase")

Enter the String : Dushyant
Dushyant Starts with Uppercase

In [ ]:
# Check if the 1st letter is in Uppercase and Lowercase
# Cond 2

s = input("Enter the String : ")
if s[0].isupper():
  print(s,"String Starts with uppercase")
elif s[0].islower():
  print(s,"String Starts with lowercase")

In [ ]:
# Check if the length of string is more than 6, equals or not

s = input("Enter the String : ")
if len(s)>6:
  print(s,"is more than 6")

elif len(s)==6:
  print(s,"is equals to 6")

else :
  print(s,"is less than 6")

In [ ]:
# check if the count of space id more than 5 or not

s = input("Enter the String : ")
if s.count(" ")>5:
  print(s,"is more than 5")
else :
  print(s,"is less than 5")

### Write a program ti demonstrate type checking of various data type

### and demonstrate the use of following built in function in python

### *ex : abs(), len(), min(), round(), isalnum(), type()*

# For input

## n = int(input())

In [ ]:
# Take a shape as an inpit and find its parameter and area

name = input ("Enter the shape : ")
if name.lower() == "tringle":
  g = input ("Enter what you want in triangle ")
  if g.lower() == "area":
    print("Area of triangle is == > 1/2*base*height")
  elif g.lower() == "parameter":
    print("Parameter of triangle is == > A+B+C")
elif name.lower() == "cube":
  g = input ("Enter what you want in cube ")
  if g.lower() == "area":
    print(" Volume (V) of cube is == > 6*side*side")
  elif g.lower() == "parameter":
    print("Surface Area (A) of cube is == > 12*side")
elif name.lower() == "cylinder":
  g = input ("Enter what you want in cylinder ")
  if g.lower() == "area":
    print(" Volume (V) of cylinder is == >  r^2h")
  elif g.lower() == "parameter":
    print("Surface Area (A) of cylinder is == > 2r^2 + 2rh")

Enter the shape : triangle

In [ ]:
# Take a shape as an inpit and find its parameter and area

name = input ("Enter the shape : ")
if name.lower() == "triangle":
  g = input ("Enter what you want in triangle ")
  if g.lower() == "area":
    height = float(input("Enter the height : "))
    base = float(input("Enter the base : "))
    area = 1/2*base*height
    print("Area of triangle is == > ",area)
  elif g.lower() == "parameter":

    a = float(input("Enter the side 1 : "))
    b = float(input("Enter the side 2 : "))
    c = float(input("Enter the side 3 : "))
    parameter = a+b+c
    print("Parameter of triangle is == > ",parameter)
elif name.lower() == "cube":
  g = input ("Enter what you want in cube ")
  if g.lower() == "area":
    side = float(input("Enter the side : "))
    area = 6*side*side
    print(" Volume (V) of cube is == > ",area)
  elif g.lower() == "parameter":
    side = float(input("Enter the side : "))
    parameter = 12*side
    print("Surface Area (A) of cube is == > ",parameter)
elif name.lower() == "cylinder":
  g = input ("Enter what you want in cylinder ")
  if g.lower() == "volume":
    radius = float(input("Enter the radius : "))
    height = float(input("Enter the height : "))
    area = 2*3.14*radius*height
    print(" Volume (V) of cylinder is == > ",area)
  elif g.lower() == "surface area":
    radius = float(input("Enter the radius : "))
    height = float(input("Enter the height : "))
    area = 2*3.14*radius*height
    print("Surface Area (A) of cylinder is == > ",area)

Enter the shape : triangle
Enter what you want in triangle area
Enter the height : 4
Enter the base : 5
Area of triangle is == >  10.0

# ***Loops***

## *For Loop*
## *While Loop*

In [ ]:
Loop = [1,2,3,4,5,6]
# For variable in Loop:

for i in Loop:
  # For loop Syntax,Looping variable 'i'
  print(i)

1
2
3
4
5
6

In [ ]:
g = ["a","b","c","d","e",True]
# String type & Bool type [Can have different type of variable]
for f in g:
  print(f)

a
b
c
d
e

In [ ]:
# Basic Looping
Loop = [1,2,3,4,5,6,7,8,9,10]
# For variable in Loop:
for ss in Loop:
  print(ss)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print those elemets which is more than 3
Loop = [1,2,3,4,5,6,7,8,9,10]
for i in Loop:
  if i>3:
    print(i)

4
5
6
7
8
9
10

In [ ]:
# Print even elements from the list
Loop = [1,2,3,4,5,6,7,8,9,10]
for i in Loop:
  if i%2==0:
    print(i)

In [ ]:
# Print even elements from the list and calculate square
Loop = [1,2,3,4,5,6,7,8,9,10]
for i in Loop:
  if i%2==0:
    print("{} is the square of {}". format(i**2,i))

4 is the square of 2
16 is the square of 4
36 is the square of 6
64 is the square of 8
100 is the square of 10

In [ ]:
# Print those elements b/w 10 and 20
Loop = [1,10,11,2,24,13,16,18,19,20,33,45,77]
for i in Loop:
  if i>10 and i<20:
    print(i)

11
13
16
18
19

In [ ]:
# Print those elements which are above that the average sum
Loop = [1,10,11,2,24,13,16,18,19,20,33,45,77]
for i in Loop:
  if i>sum(Loop)/len(Loop):
    print(i)

24
33
45
77

In [ ]:
# Extract elements which are greater than 5
Loop = [1,2,3,4,5,22,33,44,55,66,77,88,3]
for  k in Loop:
  if k>5:
    print(k)

22
33
44
55
66
77
88

In [ ]:
# Extract elements which are greater than 5 in Bool form
Loop = [1,2,3,4,5,22,33,44,55,66,77,88,3]
for  k in Loop:
  if k>5:
    print(k>5)

True
True
True
True
True
True
True

In [ ]:
# Extract even elements from the list
List = [12,11,21,24,43,23,22,54,68,77,88,69]
for j in List:
  if j%2==0:
    print(j)

12
24
22
54
68
88

In [ ]:
# Print those name whih starts with "A"

Name = ["Rohan","Abhiniza","Robin","Karan","Aman","Pankaj","Aastha"]
for h in Name:
  if h[0]=="A":
   print(h)

Abhiniza
Aman
Aastha

In [ ]:
# Print those name whih starts with "A" and ends with "a"

Name = ["Rohan","Abhiniza","Robin","Karan","Pankaj","Aastha"]
for h in Name:
  if h[0]=="A" and h[-1]=="a":
   print(h)

Abhiniza
Aastha

In [ ]:
# Print first four letters of all names

Name = ["Rohan","Abhiniza","Robin","Karan","Pankaj","Aastha"]
for h in Name:
  print(h[:4])

Roha
Abhi
Robi
Kara
Pank
Aast

In [ ]:
# Print all the leap years in the given list

Year = [1700,1800,1900,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030]
for i in Year:
  if i%4==0 and i%100 !=0 or i%400==0:
    print(i)

1992
1996
2000
2004
2008
2012
2016
2020
2024
2028

In [ ]:
# Print the 2nd highest element from the List

List = [1,3,7,9,5,6,7,2,5,8,4,10,10]
List.sort()
print(List[-2])

10

In [ ]:
# Print the 2nd highest element from the List without repitition

List = [1,3,7,9,5,6,7,2,5,8,4,10,11,11]
List.sort()
print(List[-2])

11

In [ ]:
# Print all even numbers b/w 10 and 50

for j in range(10,50,2):
  print (j)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
# Print those digit where onea digit is 5 b/w 10 ot 100
# Check 1

for i in range(10,100):
  if i%10==5:
    print(i)

15
25
35
45
55
65
75
85
95

In [ ]:
# Print those digit where onea digit is 5 b/w 10 ot 100
# Check 2
for i in range(10,100):
  if i%10!=0 and i%5==0:
    print(i)

15
25
35
45
55
65
75
85
95

In [ ]:
# Print the table of 2

for i in range(1,11):
  print("2 x {} = {}".format(i,2*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
h = 2
for j in range (1,11):
  print ("{} * {} = {}".format(h,j,h*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# Interview Question
# Create 2 lists and add even and odd digit in both list b/w 10 and 50

Even = []
Odd = []
for i in range(10,50):
  if i%2==0:
    Even.append(i)
  else:
    Odd.append(i)
print(Even)
print(Odd)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# Create 2 lists and add prime and non dugit in both list b/w 10 and 50

Prime = []
Composite = []
for i in range(10,50):
  if i>1:
    for j in range(2,i):

   Prime.append(i)
  else:
    Composite.append(i)
print(Prime)
print(Composite)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[]

# Pattern Printing

In [ ]:
for i in range(1,5):
  print("* "*i)

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  print("* ")

*
*
*
*

In [ ]:

for i in range (n):
  print("* "*n)

NameError: name 'n' is not defined

In [ ]:
# Print Reverse Right angled Triangle * pattern
for i in range(1,6):
  print("* "*(6-i)," "*i)

* * * * *
* * * *
* * *
* *
*

In [ ]:
 # Print Trial * pattern
 for i in range(1,6):
  print(" "*(1+i),"* "*i)

   *
    * *
     * * *
      * * * *
       * * * * *

In [ ]:
# Print Right angled Triangle * pattern
for i in range(1,6):
  print(" "*(i-6),"* "*i)

 *
 * *
 * * *
 * * * *
 * * * * *

In [ ]:
# Print pyramid * pattern

for i in range(1,10):
  print(" "*(10-i),"* "*i)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *

In [ ]:
# Print reverse pyramid * pattern

for i in range(5, 0, -1):
  print(" " * (5 - i) + "* " * i)

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
# Print Reverse Right angled Triangle * pattern
for i in range(1,6):
  print("* "*(6-i)," *"*i)

* * * * *   *
* * * *   * *
* * *   * * *
* *   * * * *
*   * * * * *

In [ ]:
# Print Reverse Right angled Triangle * pattern
for i in range(1,6):
  print("* "*(6-i)," "*i)
  print(" "*(i+1)," *"*i)

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j<=i:
      print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j>=i:
      print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4
4

In [ ]:
for i in range(1,5):
  for j in range(1,8):
    if j<=5-i or j>=3+i:
      print("*",end=" ")
      else:
        print(" ",end=" ")
  print()

In [ ]:
# Create 2 list name them square and cube and add perfect square
#between 1 ands 200 in square list same with cube

Square=[i**2 for i in range(1,200) if i**2<=200]
Sum_Square = sum(Square)
Cube=[i**3 for i in range(1,200) if i**3<=200]
sum_cube = sum(Cube)
print("Perfect Square: ",Square)
print("Perfect Square: ",Cube)
print("Sum of Perfect Square: ",Sum_Square)
print("Sum of Perfect Cube: ",sum_cube)

Perfect Square:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
Perfect Square:  [1, 8, 27, 64, 125]
Sum of Perfect Square:  1015
Sum of Perfect Cube:  225

In [ ]:
# Count the Occurance of each word

st1 = """What is SQL and why is it important in data science and explain the difference between a database and a table."""

word_counts = {}
words = st1.lower().split()

for word in words:
  if word in word_counts:
    word_counts[word] += 1
  else:
    word_counts[word] = 1

for word, count in word_counts.items():
  print(f"{word}: {count}")

what: 1
is: 2
sql: 1
and: 3
why: 1
it: 1
important: 1
in: 1
data: 1
science: 1
explain: 1
the: 1
difference: 1
between: 1
a: 2
database: 1
table.: 1

In [ ]:
d = {}
for i in st1.split():
  if i not in d:
    d[i]=1
    else:
      d[i]+=1

In [ ]:
for i in st1.split():
  print(i,st1.count(i))

In [ ]:
# Print the longest name from the list with the no. of letters ex:- "archit : 6"

Name = ["Akankaha","Archit","Aryan","Kanika","Lomash","Tushar","Vinit"]
longest_name = max(Name, key=len)
print("The longest name is:", longest_name)

In [ ]:
# Print all the name from the list with the no. of letters ex:- "archit : 6"

Name = ["Akankaha","Archit","Aryan","Kanika","Lomash","Tushar","Vinit"]
for i in Name:
  print(i,":", len(i))

In [ ]:
# Print all the name from the list with the no. of letters ex:- "archit : 6"

Name = ["Akankaha","Archit","Aryan","Kanika","Lomash","Tushar","Vinit"]

max(names,key=len)

In [ ]:
n = ""
for i in names:
  if len(i)>len(n):
    n=i
    print(n)

In [ ]:
# Create the satr patter